body{
 background-color: black;
 font-family: 'Recursive', sans-serif;
}

table, th, td {
  position: relative;
  top: 10px;
  border: 1px solid white;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;  
  color: gold;
  padding: 2% 2% 2% 2%;
  font-size: 20px;
}
h1{
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    color: gold;
    font-size: 75px;
    border: 1px solid white;
    width:960px;
    padding: 30px 0 30px 0;
}
#blank{
  background-color: rgb(42, 43, 44);
}

th{
  background-color: rgb(42, 43, 44);
}